body {
  background: #273340;
  color: #444;
  font: 12px/1.5 sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  perspective: 2000px;
  perspective-origin: 20% 50%;
  transform-style: preserve-3d;
  width: 100vw;
}

.windowctl-close,
.windowctl-min,
.windowctl-max {
  position: fixed;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  z-index: 100;
}
.windowctl-close {
  left: 8px;
  top: 7px;
  background: #FF6057;
  border: 0.5px solid #E1453F;
}
.windowctl-min {
  left: 28px;
  top: 7px;
  background: #FFBE2F;
  border: 0.5px solid #E0A637;
}
.windowctl-max {
  left: 48px;
  top: 7px;
  background: #28CA40;
  border: 0.5px solid #1BAC2C;
}

.windowbar {
  height: 27px;
  position: relative;
  width: 100vw;
}

.tabs-button {
  background: no-repeat center/14px url(../assets/hamburger.png);
  height: 13px;
  width: 14px;
  position: absolute;
  top: 7px;
  right: 7px;
}

.location {
  font-weight: bold;
  border-radius: 5px;
  color: rgba(0,0,0,0.8);
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  margin: 0 auto;
  transform: translateY(3px);
  transition: background 100ms ease-out,
              transform 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  text-align: center;
  width: 250px;
}
.location:hover {
  background: rgba(0,0,0,0.06);
}

.overlay {
  background: #000;
  transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  left: 0;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.mode-show-tabs .overlay,
.mode-show-tabs-resting .overlay {
  pointer-events: all;
}

.tabs {
  list-style: none;
  margin: 20px;
  padding: 0;
}

.tab {
  border-top: 1px solid rgba(255,255,255,0.08);
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  padding: 0 20px 0 36px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab:first-child {
  border-top-color: transparent;
}

.tab-selected {
  background: #4A90E2;
  border-top-color: transparent;
  border-radius: 4px;
  color: #fff;
}
.tab-selected + .tab {
  border-top-color: transparent;
}

.tab > .favicon {
  background: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
  height: 16px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 16px;
}

.sidebar {
  background: #323F4D;
  color: #fff;
  overflow: hidden;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 460px;
  transform: translateX(460px) rotateY(-45deg);
  transform-origin: left;
  transition: transform 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  z-index: 11;
}

.mode-show-tabs > .sidebar,
.mode-show-tabs-resting > .sidebar {
  transform: translateX(0) rotateY(0deg);
}

.webviews {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  transform-style: preserve-3d;
}

.webview {
  background: #fff;
  width: 100vw;
  height: calc(100vh);
  margin: 0 0 40px;
  transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  z-index: 2;
}

.webview > .iframe {
  background-size: cover;
  border: 0;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}